* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: rgb(21, 115, 208);
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
.text-white {
  color: #ffffff;
}
.text-red {
  color: #bd162d;
}
.text-black {
  color: #000000;
}
.background-red {
  background-color: #bd162d;
}
header {
  border-bottom: 1px solid gainsboro;
  background-color: cornflowerblue;
}
.left-description a {
  display: flex;
  justify-content: flex-start;
}
/* header-one */
.header-one {
  position: relative;
  width: 100%;
  height: 51.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #081b36ff;
}
.left-description a .title-first {
  font-family: "Barlow-Bold";
}
.left-description a p {
  color: #eaeaea;
  font-family: "Barlow-Regular";
  font-size: 16px;
}
.left-description {
  transition: all 0.5s;
}
.left-description:hover a p {
  color: #aaaaaa;
}
.right-buttons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* background-color: mediumspringgreen; */
}
.right-buttons a {
  width: 20px;
}
.right-buttons a span img {
  color: #ffffff;
}
.right-buttons a:hover span img {
  color: #aaaaaa;
}
/* header-two */
.header-two {
  height: 65.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: coral;
}
.header-two .icons {
  /* width: 60%; */
  display: flex;
  justify-content: space-between;
  background-color: deepskyblue;
}
.header-two a {
  display: flex;
  padding: 18px 25px 18px 0;
}
.header-two .logo-color img {
  margin-right: 10px;
}
.header-two div a p {
  color: #222222;
  font-family: "Barlow-Medium";
  font-size: 16px;
  text-transform: capitalize;
}
.header-two .space:hover a p {
  color: #bd162d;
}
.header-two .space:hover a .logo-color img {
  background-color: #bd162d;
}
.social-media {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  background-color: hotpink;
  /* transition-property: color, background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: linear; */
}
.inside-social-media {
  /* padding: 10px 0; */
  display: flex;
  justify-content: center;
}
.social-media-icons {
  background-color: burlywood;
}
/* header-three */
.header-three .into-header-three {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
}
.parent-car-logo {
  width: 16%;
  background-color: mediumturquoise;
}
.header-three {
  background-color: darkseagreen;
}
.into-header-three {
  display: flex;
  align-items: center;
}
.special {
  width: 72%;
  display: flex;
  justify-content: space-between;
  background-color: #bd162d;
}
/* menu */
.menu {
  width: 100%;
  /* margin: auto 0; */
  display: flex;
  align-items: center;
}
.menu nav ul {
  display: flex;
  background-color: darkorange;
}
.menu nav ul li {
  margin-left: calc(30px / 2);
  margin-right: calc(30px / 2);
  letter-spacing: -0.01em;
  background-color: gold;
}
.menu nav ul li .custom {
  display: flex;
  justify-content: space-between;
  width: 75px;
  /* position: relative; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: cornflowerblue;
}
.menu nav ul li .custom:hover .mega-menu {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 100px;
  visibility: visible;
  opacity: 1;
  background-color: #ffffff;
  /* .mega-menu {
    display: block;
    background-color: #bd162d;
  } */
}
.mega-menu {
  display: none;
  background-color: #bd162d;
}
.arow-dwon {
  height: 12px;
  background-color: #2364c4;
}
.menu .edit {
  color: #212934;
  font-family: "Barlow-Medium";
  font-size: 19px;
  transition: all 0.3s;
}
.menu nav .menu-color:hover {
  color: #bd162d;
}
.menu nav ul li a {
  display: flex;
  align-items: center;
  background-color: deepskyblue;
}
/* call */
.call {
  width: 24%;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  background-color: deepskyblue;
}
.call .content a {
  width: 281px;
  height: 60px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 50px;
  color: #ffffffff;
  transition: all 0.3s;
}
.call .content a:hover {
  background-color: #2364c4;
}
.call .content a .call-logo {
  margin-right: 15px;
}
.call .content a .number-call {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  background-color: darkgoldenrod;
}
.title-hamburger-menu {
  font-size: 20px;
  font-weight: 500;
  padding-right: 10px;
  display: none;
}
.hamburger-icon {
  width: 20px;
  position: relative;
  cursor: pointer;
  display: none;
  background-color: #bd162d;
}
.hamburger-icon::after {
  content: "";
  width: 80%;
  height: 2px;
  background-color: black;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-shadow: 0 6px 0 0 black, 0 -6px 0 0 black;
  border-radius: 0.5px;
  /* transform: rotate(0); */
}
/* .hamburger-icon::after:active{
  transform: rotate(1);
} */
/* responsive */
@media (max-width: 1180px) {
  .menu {
    width: 5 0%;
  }
  .call {
    width: 50%;
  }
  .menu nav ul {
    display: none;
  }
  .parent-humburger-menu {
    width: 166px;
    height: 51px;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    border: 1px solid red;
  }
  .parent-humburger-menu .click {
    /* width: 166px;
    height: 51px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin-right: 20px;
  }
  .title-hamburger-menu {
    display: block;
  }
  .hamburger-icon {
    display: block;
  }
}
@media (max-width: 1200px) {
  .header-two {
    height: 20%;
  }
  .header-two .icons {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .header-two {
    height: 20%;
  }
  .header-two {
    flex-direction: column;
  }
  .header-two .icons {
    flex-wrap: wrap;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .header-three .into-header-three {
    /* display: flex; */
    flex-direction: column;
  }
  .menu {
    justify-content: flex-end;
  }
  .special {
    width: 100%;
  }
  .call {
    /* display: block; */
    justify-content: center;
    width: 100%;
  }
}
